<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/static/css/chat.css">
    <title>Chat</title>
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="/src/main/resources/static/images/acadconectasmall.png" alt="logo com o nome acadconecta e um capelo acima da palavra conecta">
            </div>
                <nav class="menu">
                    <ul>
                        <li class="title-menu"><a href="#">Canais</a></li>
                        <li><a href="#">Editais do campus</a></li>
                        <li><a href="#">Emprego e estágio</a></li>
                        <li><a href="#">Chat</a></li>
                        <li class="title-menu"><a href="#">Perfil</a></li>
                    </ul>
                </nav>
            </aside>
            
            <main class="chat-container">
                <header class="chat-header">
                    <h2>CHAT</h2>
                </header>
    
                <div class="chat-box">
                    <div>
                        <div class="message-icons">
                            <img src="/src/main/resources/static/images/acadaconectalarge.png" alt="" id="logo-teste">
                            <span class="username">Isis</span>
                        </div>
                        
                        <div class="message">
                            <div class="message-header">
                                <span class="timestamp">29/08/2024</span>
                                <span class="timestamp">15:30</span>
                            </div>
                            <p>Vaga de estágio em Data Science na Isis</p>
                        </div>


                        <div class="message-icons">
                            <img src="/src/main/resources/static/images/acadaconectalarge.png" alt="" id="logo-teste">
                            <span class="username">Isis</span>
                        </div>
                        
                        <div class="message">
                            <div class="message-header">
                                <span class="timestamp">29/08/2024</span>
                                <span class="timestamp">15:30</span>
                            </div>
                            <p>Vaga de estágio em Data Science na Isis</p>
                        </div>

                        <div class="message-icons">
                            <img src="/src/main/resources/static/images/acadaconectalarge.png" alt="" id="logo-teste">
                            <span class="username">Am3</span>
                        </div>
        
                        <div class="message">
                            <div class="message-header">
                                <span class="timestamp">29/08/2024</span>
                                <span class="timestamp">16:43</span>
                            </div>
                            <p>Gostaríamos de anunciar que as vagas foram preenchidas por Daniel, Cauê e Lariany</p>
                        </div>

                    </div>
                   
                </div>
    
                <div class="chat-input">
                    <input type="text" placeholder="Escreva uma mensagem..." />
                    <button class="send-btn">
                        <img  class="logo-send" src="/src/main/resources/static/images/icon-send.png" alt="">
                    </button>
                </div>
            </main>
        </div>
    </body>
    </html>
    </div>
</body>
</html>