<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acad Conecta</title>
    <link rel="stylesheet" href="/css/profile.css">
</head>
<body>
<div class="profileTitle">
    <label>PERFIL</label>
</div>
<div class="profile">
    <div class="userInfo">
        <div class="img">
            <img src="/images/person (1) 1.png" alt="logo com a foto do usuário">
        </div>
        <div class="username">
            <label id="labelNome">Nome de usuário</label>
        </div>
    </div>
    <div class="infoEmail">
        <label id="email">Email</label>
        <div id="emailUser">
            <label id="labelEmail">EmailUsuariogmail.com</label>
        </div>

    </div>
    <div class="buttons">
        <div id="ExitButtons">
            <div>
                <button id="delete">Deletar</button>
            </div>
            <div>
                <button id="exit">Sair</button>
            </div>
        </div>
    </div>
</div>
</body>
</html>