<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/register.css">
   
    <title>Cadastre-se</title>
</head>
<body>
    <div class="container">
  
        <div class="register-left">
            <div class="logo">
                <img src="/images/logo-acad-conecta.png" alt="logo com o nome acadconecta e um capelo acima da palavra conecta">
            </div>
        </div>

        <div class="register-right">
            <div class="register-box">
                <h2>CADASTRE-SE</h2>
                <form th:action="@{/register}" method="post">
                    <div class="input-group">
                        <label for="name">Nome:</label>
                        <input type="text" id="name" name="name" placeholder="Digite um nome para o usuário" required>
                    </div>
                    <div class="input-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" placeholder="Digite o seu email" required>
                    </div>
                    <div class="input-group">
                        <label for="password">Senha:</label>
                        <input type="password" id="password" name="password" placeholder="Digite uma senha" required>
                    </div>
                    <div class="button-group">
                        <button type="button" class="button-register" id="cancel-button"><a href="login.html">Cancelar</a></button>
                        <button type="submit" class="button-register" id="register-button">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="footer-ask">
        <footer><a href=""><img id="ask" alt="Sinal de interrogação"></a></footer>
    </div>
</body>

</body>
</html>